html
  head
    title Bootstrap 3.3.5 grid only
    // build:css src/app.min.css
    link(rel='stylesheet', type='text/css', href='src/app.css')
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+", crossorigin="anonymous")
    // /build
  body
    .container
      .col-sm-8.col-md-4
        div col-sm-8 col-md-4
      .col-sm-8.col-md-4
        div col-sm-8 col-md-4
      .col-sm-8.col-md-4
        div col-sm-8 col-md-4
      .col-sm-8.col-md-4
        div col-sm-8 col-md-4
    // build:js src/app.min.js
    script(src='src/app.js')
    // /build
